<h2>Create a new rental request</h2>
<form 
  action= <%= cat_rental_requests_url(@cat_rental_request) %> 
  method = "POST" >
  
<input 
    type='hidden' 
    name='authenticity_token'
    value='<%= form_authenticity_token %>'>

<label> Choose Cat
  <select name = "cat_rental_request[cat_id]">
    <option value=''> Choose a cat </option>
    <% @cats.each do |cat|  %>
      <option value="<%= cat.id %>"> 
        <%= cat.name %> 
      </option>
    <% end %>
  </select>
</label>

<label> Start Date
  <input 
  name= "cat_rental_request[start_date]"
  type = "date" >
</label>

<label> End Date
  <input 
  name= "cat_rental_request[end_date]"
  type = "date" >
</label>

<input type='submit' value='Request cat!'>
  
</form>

