<form id="photo_form">
  <label>Title
    <input type="text" name="title">
  </label>
  <br>
  <label>URL
    <input type="text" name="url">
  </label>
  <br>
  <input type='submit' value="Add Photo" id="add_photo">
</form>