<div class="jumbotron">
  <div class="container">
    <h1>About Warp12</h1>
    <div class="row">
      <div class="col-xs-6">
        <p>
        These are the voyages of the Starship Enterprise. Its continuing mission, to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no one has gone before. We need to neutralize the homing signal. Each unit has total environmental control, gravity, temperature, atmosphere, light, in a protective field. Sensors show energy readings in your area. We had a forced chamber explosion in the resonator coil. Field strength has increased by 3,000 percent.
        </p>
     
      </div>
      <div class="col-xs-6">
        <p>
        I have reset the sensors to scan for frequencies outside the usual range. By emitting harmonic vibrations to shatter the lattices. We will monitor and adjust the frequency of the resonators. He has this ability of instantly interpreting and extrapolating any verbal communication he hears. It may be due to the envelope over the structure, causing hydrogen-carbon helix patterns throughout. I'm comparing the molecular integrity of that bubble against our phasers.
        </p>

        <p>
        Resistance is futile.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
   <h1>Meet the Team</h1>
   <div class="col-xs-3">
     <img src="/assets/uhura.jpg" class="img-responsive img-circle"></img>
     <h2>Nyota Uhura</h2>
     <p>
     We're acquainted with the wormhole phenomenon, but this... Is a remarkable piece of bio-electronic engineering by which I see much of the EM spectrum ranging from heat and infrared through radio waves, et cetera, and forgive me if I've said and listened to this a thousand times. This planet's interior heat provides an abundance of geothermal energy. We need to neutralize the homing signal.
     </p>
   </div>
   <div class="col-xs-3">
     <img src="/assets/data.jpg" class="img-responsive img-circle"></img>
     <h2>Data</h2>
     <p>
     Run a manual sweep of anomalous airborne or electromagnetic readings. Radiation levels in our atmosphere have increased by 3,000 percent. Electromagnetic and subspace wave fronts approaching synchronization. What is the strength of the ship's deflector shields at maximum output? The wormhole's size and short period would make this a local phenomenon. Do you have sufficient data to compile a holographic simulation?
     </p>
   </div>
   <div class="col-xs-3">
     <img src="/assets/janeway.jpg" class="img-responsive img-circle"></img>
     <h2>Kathryn Janeway</h2>
     <p>
       If you were honorable, you wouldn't have changed the terms of our agreement. As they say in the Temporal Mechanics Department: there's no time like the present. Just enough... to bring chaos to order. Computer, end display. 
     </p>
   </div>
   <div class="col-xs-3">
     <img src="/assets/riker.jpg" class="img-responsive img-circle" ></img>
     <h2>William Riker</h2>
     <p>
       They were just sucked into space. This should be interesting. Wait a minute - you've been declared dead. You can't give orders around here. Mr. Worf, you do remember how to fire phasers? I recommend you don't fire until you're within 40,000 kilometers.
     </p>
   </div>
</div>
