<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>
      
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/uhura.jpg" class="star-trek-people"></img>
        </div>
        <div class="item">
          <img src="/assets/data.jpg" class="star-trek-people"></img>
        </div>
        <div class="item">
          <img src="/assets/janeway.jpg" class="star-trek-people"></img>
        </div>
        <div class="item">
          <img src="/assets/riker.jpg" class="star-trek-people"></img>
        </div>
      </div>
      
      <a 
        class="left carousel-control" 
        href="#carousel-example-generic" 
        roll="button"
        data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a 
        class="right carousel-control" 
        href="#carousel-example-generic" 
        roll="button"
        data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      
    </div>
  </div>
</div>

<div id="page-content" class="row" >
  <div id="side-navbar" class="col-xs-2 col-xs-offset-2 side-navbar" data-spy="affix">
    <ul class="nav nav-pills" role="tablist">
      <li><a href="#ipsum" class="active">Ipsum!</a></li>
      <li><a href="#yamaguchi">Yamaguchi</a></li>
      <li><a href="#enterprise">Enterprise</a></li>
      <li><a href="#defiant">Defiant</a></li>
      <li><a href="#sarajevo">Sarajevo</a></li>
    </ul>
  </div>
  <div class="col-xs-6 col-xs-offset-4 container" id="paragraphs" style="height: 400px; overflow-y: scroll;">
    <h2 id="ipsum">Ipsum!</h2>
    <p>
    Now what are the possibilities of <a class="tooltips" href="#" datatoggle="tooltip" title="Engage!">warp drive</a>? Cmdr Riker's nervous system has been invaded by an unknown <a class="tooltips" href="#" datatoggle="tooltip" title="Gross!">microorganism</a>. The organisms fuse to the nerve, intertwining at the molecular level. That's why the transporter's biofilters couldn't extract it. The vertex waves show a K-complex corresponding to an REM state. The engineering section's critical. <a class="tooltips" href="#" datatoggle="tooltip" title="Resistance is futile.">Destruction is imminent.</a> Their robes contain ultritium, highly explosive, virtually undetectable by your transporter.
    </p>
    <h2 id="yamaguchi">USS Yamaguchi - NCC-26510 - Destroyed by the Borg at the Battle of Wolf 359.</h2>
    <p>
    We're acquainted with the wormhole phenomenon, but this... Is a remarkable piece of bio-electronic engineering by which I see much of the EM spectrum ranging from heat and infrared through radio waves, et cetera, and forgive me if I've said and listened to this a thousand times. This planet's interior heat provides an abundance of <a class="tooltips" href="#" datatoggle="tooltip" title="Hot! Hot! Hot!">geothermal energy</a>. We need to neutralize the homing signal.
    </p>
    <h2 id="enterprise">USS Enterprise - NCC-1701 - Commanded by Robert April (2245–2250)</h2>
    <p>
    Shields up. I recommend we transfer power to phasers and arm the photon torpedoes. Something strange on the detector circuit. The weapons must have disrupted our communicators. You saw something as tasty as meat, but inorganically materialized out of patterns used by our transporters. Captain, the most elementary and valuable statement in science, the beginning of wisdom, is 'I do not know.' All transporters off.
    </p>
    <h2 id="defiant">USS Defiant NCC-1764 - Taken to Mirror Universe by Tholians</h2>
    <p>
    Now what are the possibilities of warp drive? Cmdr Riker's nervous system has been invaded by an unknown microorganism. The organisms fuse to the nerve, intertwining at the molecular level. That's why the transporter's biofilters couldn't extract it. The vertex waves show a K-complex corresponding to an REM state. The engineering section's critical. Destruction is imminent. Their robes contain ultritium, highly explosive, virtually undetectable by your transporter.
    </p>
    <h2 id="sarajevo">USS Sarajevo - NCC-38529 - Lost in the Gamma Quadrant in 2371. Later recovered and served in the Dominion War.</h2>
    <p>
    Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
    </p>
  <div><p>
    Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
    
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
  Communication is not possible. The shuttle has no power. Using the gravitational pull of a star to slingshot back in time? We are going to Starbase Montgomery for Engineering consultations prompted by minor read-out anomalies. Probes have recorded unusual levels of geological activity in all five planetary systems. Assemble a team. Look at records of the Drema quadrant. Would these scans detect artificial transmissions as well as natural signals?
</p></div> 
</div>
 
</div>

<script type="text/javascript">
  $(function() {
    $(".tooltips").tooltip();
    
    $("#paragraphs").scrollspy({ target: '#side-navbar' });
  })
</script>